*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: sans-serif;
}

:root{
    --color-primary: #9792E4;
    --color-secondary: #007bff; 
    --color-secondary-light: #B5DDFF;
    --color-third: white;
    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-ld: 992px;
}

.container{
    margin: 0 auto;
    width: 980px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-p-medium{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.container-p-large{
    padding-left: 4rem;
    padding-right: 4rem;
}

.section{
    padding: 1rem 0; /* si aggiunge in seguito più padding */
    width: 100%;
}

.bg-primary{
    background-color: var(--color-primary);
}

.bg-secondary{
    background-color: var(--color-secondary);
}

.bg-secondary-light{
    background-color: var(--color-secondary-light);
}

.bg-third{
    background-color: var(--color-third);
}

.button{
    background-color: #FFFFFF;
    padding: .5rem 1rem;
    border-radius: 25px;
}

.menu{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.menu li{
    list-style: none;
}

.menu a{
    color:white;
    text-decoration: none;
}

.card-row{
    display: flex;
    min-width: 616px;
    min-height: 305px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row-vertical{
    display: flex;
    flex-direction: column;
}

.gap-sm{
    gap: 1rem;
}

.jus-center{
    justify-content: center;
}

.jus-between{
    justify-content: space-between;
}

.align{
    align-items: center;
}

.col{
    flex-grow: 1;
    flex-basis: 0;    
}

.col-1{
    flex-basis: calc(100% / 3 - 1rem);
}

.col-2{
    flex-basis: calc((100% / 3) * 2 - 1rem);
}

.col-3{
    flex-basis: 100%;
}

.card-img-size-1{
    width: 225px;
}

.card-img-size-2{
    width: 330px;
}

.card-img-size-3{
    width: 205px;
}

.card-svg-default{
    width: 60px;
    padding-bottom: 1rem;
}

.svg-size-1{
    width: 80px;
}

.svg-size-2{
    width: 100px;
}

.card-pd-1{
    padding: 2rem 1rem;
}

.card-border-default{
    border-radius: 15px;
}

.card-brd-2{
    border-radius: 40px;
}

.card-left{
    padding-left: 1rem;
    padding-top: 2rem;
    padding-right: 4rem;
}

.card-right{
    align-self: flex-end;
    padding-right: 4rem;
}

.card-purple{
    display: flex;
    background-color: var(--color-primary);
}

.card-purple img{
    width: 250px;
}

.card-txt-center{
    text-align: center;
}

.txt-img-d-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-style{
    font-style: oblique;
}

.text-xs-spec{
    line-height: 20px;
}


.text-s-spec{
    line-height: 24px;
    font-weight: 600;
}

.txt-m-spec{
    font-size: 16px;
}

.txt-l{
    font-size: 35px;
}

.text-color-1{
    color: #5A6E7F;
}

.text-clr-2{
    color: black;
}

.txt-clr-3{
    color: var(--color-primary);
}

.title-s-pd{
    padding-bottom: 1.5rem;
}

.title-clr-1{
    color: #0084FD;
}

.title-clr-2{
    color: black;
}

.round-button{
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: relative;
}

.rnd-button{
    width: 9px;
    position: absolute;
    right: calc(40px / 2 - 5px); /* forse è meglio usare transform? */
    top: calc(40px / 2 - 8px);
}

.card-button{
    background-color: #0084FD;
    text-align: center;
    width: 190px;
    padding: .5rem 0;
    border-radius: 25px;
    margin-top: 2rem;
}

.card-button a{
    color: #FFFFFF;
    text-decoration: none;
    vertical-align: middle;
}

.card-button svg{
    width: 15px;
    vertical-align: sub;
}

@media screen and (max-width: 992px){ /* max-width va a scendere */
    .container{
        width: calc(var(--bp-md) - 1rem); /* larghezza che va bene fino al breakpoint successivo */
    }

    .col-lg-half{
        flex-basis: 50%;
    }
}

@media screen and (max-width: 768px){
    .container{
        width: calc(var(--bp-sm) - 1rem); /* valore minore o uguale al breaklpoint successivo */
    }
    
    .col-md-half{
        flex-basis: 50%;
    }

    .col-md-full{
        flex-basis: 100%;
    }

    .container-md-p-default{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 576px){
    .container{
        width: 100%;
    }

    .col-sm-half{
        flex-basis: 50%;
    }
    
    .col-sm-full{
        flex-basis: 100%;
    }
    
    .container-sm-p-default{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
