*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: sans-serif;
}

:root{
    --color-primary: #9792E4;
    --color-secondary: #007bff; 
    --color-secondary-light: #B5DDFF;
    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-ld: 992px;
}

.container{
    margin: 0 auto;
    width: 980px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-p-medium{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.container-p-large{
    padding-left: 4rem;
    padding-right: 4rem;
}

.section{
    padding: 1rem 0; /* si aggiunge in seguito più padding */
    width: 100%;
}

.bg-primary{
    background-color: var(--color-primary);
}

.bg-secondary{
    background-color: var(--color-secondary);
}

.bg-secondary-light{
    background-color: var(--color-secondary-light);
}

.button{
    background-color: #FFFFFF;
    padding: .5rem 1rem;
    border-radius: 25px;
}

.menu{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.menu li{
    list-style: none;
}

.menu a{
    color:white;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.jus-center{
    justify-content: center;
}

.jus-between{
    justify-content: space-between;
}

.align{
    align-items: center;
}

.col{
    flex-grow: 1;
    flex-basis: 0;    
}

.col-1{
    flex-basis: calc(100% / 3);
}

.col-2{
    flex-basis: calc((100% / 3) * 2);
}

.col-3{
    flex-basis: 100%;
}

.card{ /* solo per debug */
    min-height: 100px;
    background-color: red;
}

@media screen and (max-width: 992px){ /* max-width va a scendere */
    .container{
        width: calc(var(--bp-md) - 2rem); /* larghezza che va bene fino al breakpoint successivo */
    }

    .col-lg-half{
        flex-basis: 50%;
    }
}

@media screen and (max-width: 768px){
    .container{
        width: calc(var(--bp-sm) - 2rem); /* valore minore o uguale al breaklpoint successivo */
    }
    
    .col-md-half{
        flex-basis: 50%;
    }

    .col-md-full{
        flex-basis: 100%;
    }

    .container-md-p-default{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 576px){
    .container{
        width: 100%;
    }

    .col-sm-half{
        flex-basis: 50%;
    }
    
    .col-sm-full{
        flex-basis: 100%;
    }
    
    .container-sm-p-default{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
